@import '../app.scss';

@mixin widhtHeight($ukuran){
    width: $ukuran !important;
    height: $ukuran !important;
    margin-bottom: 0px !important;
}

.nameLogoOtpModule{
@include widhtHeight(40px);
}
.otpLogoWa{
    @include widhtHeight(33px);
    opacity: .6;
}

