*{
  margin: 0px;
  padding: 0px;
}

@media only screen and (max-width: 464px){
  .container {
    width: 100% !important;
  }
  /* .sliderQuota div{
    width: 120px !important;
  } */
  .listSlide{
    /* width: 100% !important; */
    /* border: 1px solid; */
  }
  .ulStyle{
    margin-bottom: 30px !important;
  }
}