$desktop-breakpoint: 1024px;
$tablet-breakpoint: 740px;
$mobile-breakpoint: 470px;

$greenBtn : #6FCA61 !important;
$redBtn: #E84545 !important;


*{
    margin: 0;
    padding: 0;
}


@mixin respond-ke($breakpoint) {
    @media only screen and (max-width: $breakpoint) {
        @content;
    }
}

@mixin svgSize($wAndH){
    width: $wAndH - 16; //14 
    height: $wAndH/5; //3
}

