*{
  margin: 0px;
  padding: 0px;
}

@media only screen and (max-width: 464px){
  .container {
    width: 100% !important;
  }
  /* .sliderQuota div{
    width: 120px !important;
  } */
  /* .listSlide{ */
  /* padding: 20px; */
    /* text-align: center; */
    /* flex: 0 0 calc(33.33% - 10px); */
    /* 3 kotak per baris */
  /* } */
  /* .ulStyle{ */
  /* display: grid !important; */
    /* grid-template-columns: repeat(3, 1fr) !important; */
  /* } */
}